*{  
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
 #icon{
    border-radius: 100%;
}

body{
     background-image: url(photo.jpg);
     background-size: cover;
     background-repeat: no-repeat;
     height: 100vh;
 }

 header{
    background-color: black;
    height:90px;
    padding: 0%;
    margin-bottom:20px;
    margin-top: 0%;
    position:fixed;
    width:100%;
}
header img{
      border-radius: 100%;
      height:  70px;
      width:70px;
      margin-top: 1%;
      margin-left:1%;
}

header a{
    color:white;
    padding-right:10px;
    padding-left:10px;
    margin-right: 30px;
    border-radius: 10px;
    font-weight: bolder;
    font-size: 20px;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    float: left;
    margin-top: 50px;
}

header a:hover {
   background-color:white;
   color: black;
 }
 

 #pic{
   float:left;
   margin-bottom:20px;
   margin-top: 1%;
   margin-left:10px;
}

 #pic:hover{
     background-color: black;
     
 }
 
 #HOME{
     margin-left:300px;
 }

 #profile{
   float:right;
   margin-top: 5px;

}

/* Dropdown Button */
.dropbtn {
   background-color: black;
   color: white;
   border: none;
   float:right;
   margin-right: 30px;
   margin-top:4px;
   position: relative;
 }
 
 /* The container <div> - needed to position the dropdown content */
 .dropdown {
   position: relative;
   display: inline-flex;
   margin-left: 200px;
 }
 
 /* Dropdown Content (Hidden by Default) */
 .dropdown-content {
   display: none;
   position: absolute;
   margin-top: 82px;
   padding-bottom: 20px;
   background-color:rgba(0, 0, 0, 0.616);
   width: 150px;
   box-shadow:rgb(66, 65, 65);
   text-align: left;
   border-radius: 5%;
 }
 
 /* Links inside the dropdown */
 .dropdown-content a {
   color: white;
   text-decoration: none;
   display: inline-block;
   text-align: center;
 }
 
 /* Change color of dropdown links on hover */
 .dropdown-content a:hover {background-color:white;}
 
 /* Show the dropdown menu on hover */
 .dropdown:hover .dropdown-content {display:block;}
 
 /* Change the background color of the dropdown button when the dropdown content is shown */
 .dropdown:hover .dropbtn {background-color: black;}



 
.blogpost {
  width:500px;
  height:450px;
  float:right;
  margin-top: 150px;
  margin-left:auto;
  margin-right:200px;  
  background-color: rgba(0, 0, 0, 0.774);
  color:white;
}

.blogpost textarea{
  width:500px;
  height:450px;
  font-family:  garamond, Helvetica, sans-serif;
  font-size: 25px;
  margin-left:auto;
  margin-right:200px;  
  background-color: rgba(0, 0, 0, 0.774);
  color:white;
}

.blogpost #publish{
  float:right;
}

.detail img{
    float: right;
    border-radius: 50%;
    margin-top: 100px;
    margin-right:180px;
    width:300px;
    height:300px;
 }

  

 footer{
  background-color: black;
  color:white;
  width:100%;
  position: fixed;
  bottom:0px;
}

footer span{
   margin-left: 1%;
   color:white;
}
